.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.text {
  content: attr(data-content);
  background: linear-gradient(to top, rgb(133, 201, 180) 40%, transparent 50%);
}

.image {
  box-shadow: 5px 5px 0 0px black, 5px 5px 0 1px white;
}
